.section__access {
  background-color: #585989;
  padding: 8rem 6rem;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textbox {
  width: 30%;
  @media only screen and (max-width: $bp-medium) {
    width: 40%;
  }

  &-header {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: $font-display-secondary;

    margin-bottom: 1rem;
  }

  &-content {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.accessbox {
  width: 40%;
  position: relative;

  &-mail {
    display: block;
    width: 80%;

    border: 2px solid $blue-dark-2;

    border-radius: 2px;

    font-size: 1.4rem;
    padding: 1rem 2rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border: 2px solid $blue-light-1;
    }

    &:focus:invalid {
      border: 2px solid orangered;
    }

    &:focus:invalid + label {
      opacity: 1;
      visibility: visible;
    }
  }

  &-label {
    margin-bottom: 1rem;

    font-size: 1.4rem;
    position: absolute;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }
}
