.section__testimonial {
  margin-top: 4rem;
  padding: 10rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  background-image: url(../images/bg-curve-desktop.svg);

  background-size: cover;
  background-position: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column-reverse;
  }

  &-text {
    width: 100%;
    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }
  }

  &-imgbox {
    @media only screen and (max-width: $bp-small) {
      width: 50%;
    }
    &--photo {
      width: 100%;
    }
  }
}

.testi-textbox {
  width: 70%;
  @media only screen and (max-width: $bp-medium) {
    width: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    text-align: center;
    width: 100%;
  }
}

.testi {
  //display: flex;
  //align-items: center;
  //gap: 2px;
  display: inline-block;
  text-align: center;
  margin-bottom: 3.2rem;
  border-bottom: 2px solid $secondary-color;

  // width: 15%;

  &:hover {
    border-bottom: 2px solid $secondary-color-2;

    .testi-arrow {
      width: 1.4rem;
      height: 1.4rem;

      .red {
        fill: red;
      }
    }
  }

  &-arrow {
    width: 1.4rem;
    height: 1.4rem;
  }

  &-link {
    display: inline-block;

    font-size: 1.4rem;
    font-family: $font-display-main;
    text-decoration: none;
    transition: all 0.2s;

    &:link,
    &:visited {
      color: $secondary-color;
    }

    &:hover,
    &:active {
      color: $secondary-color-2;
      //border-bottom: 2px solid $secondary-color-2;
    }
  }
}

.testimonial {
  padding: 1.6rem 3.2rem;
  border-radius: 3px;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    width: 50%;
    margin: 0 auto;
  }

  &__symbol {
    width: 3.2rem;
    height: 3.2rem;

    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  &__person {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 2rem;

    &--img {
      width: 4rem;
      height: 4rem;

      border-radius: 50%;
    }
  }
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.title {
  font-size: 0.8rem;
  font-weight: 700;

  color: $grey-dark-1;
}
